<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen flex flex-col items-center justify-center">
        <h3 class="font-bold text-4xl mb-4">Login</h3>

        <div class="px-12 py-8 shadow-lg rounded-2xl border-2 border-gray-500">
            <form class="flex flex-col gap-4 mb-4" action="/auth/login" method="post">

                <div>
                    <p>Email: </p>
                    <input type="text" id="email"
                        class="border-gray-300 border-2 rounded-md focus:outline-blue-400 pl-2 text-base"
                        name="email" />
                </div>
                <div>
                    <p>Password: </p>
                    <input type="password" id="password"
                        class="border-gray-300 border-2 rounded-md focus:outline-blue-400 pl-2 text-base"
                        name="password" />
                </div>
                <input type="submit"
                    class="px-4 py-2 bg-blue-400 cursor-pointer transition-colors rounded-md hover:bg-blue-500"
                    value="Submit" />
            </form>
            <span class="text-sm">
                Don't have an account?
                <a href="/signup" class="text-blue-600 hover:underline">Signup</a>
            </span>
        </div>
    </div>
    <script>
        document.querySelector("form").onsubmit = (ev) => {
            ev.preventDefault();

            const email = document.querySelector("input#email").value;
            const password = document.querySelector("input#password").value;

            if (email == "" || password == "") {
                alert("Please enter all fields.");
                return;
            }

            fetch('/auth/login', {
                method: "post",
                body: JSON.stringify({ email, password }),
                headers: {
                    "Content-type": "application/json"
                }
            }).then(res => res.json()).then(data => {
                if (data.access_token) {
                    localStorage.setItem("token", data.access_token);
                    alert("Logged in! Redirecting to homepage!")
                    window.location.href = "/";
                    return;
                }
                console.log(data)
                alert(data.detail);
                return;
            });
        };
    </script>
</body>

</html>